.container {
  height: 8vh;
  width: 80vw;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__left {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__left__profile {
  height: 80%;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__left__profile__logo {
  height: 70%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container__left__profile__logo__item:nth-of-type(1) {
  background: #333333;
  border-radius: 2px;
  width: 7.09px;
  height: 7.09px;
}
.container__left__profile__logo__item:nth-of-type(2) {
  background: #333333;
  border-radius: 2px;
  width: 22.15px;
  height: 7.09px;
}
.container__left__profile__title {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container__left__profile__title h2 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}
.container__left__profile__title p {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  color: #333333;
}
.container__left__search {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.container__left__search input {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  border: none;
  outline: none;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
}
.container__left__search input {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #bdbdbd;
}
.container__left__search img {
  height: 40%;
  transform: translateX(10px);
  position: absolute;
  object-fit: contain;
}
.container__right {
  height: 100%;
  width: 10%;
  cursor: pointer;
  background: #3db46d;
  border: none;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.container__right {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
@media screen and (max-width: 1100px) {
  .container__left {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container__right {
    width: 15%;
  }
}
@media screen and (max-width: 950px) {
  .container__left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 850px) {
  .container {
    width: 90vw;
  }
  .container__left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container__left__profile {
    width: 40%;
  }
  .container__left__search {
    height: 90%;
    width: 60%;
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .container__left__profile__title h2 {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 15px;
    color: #333333;
  }
  .container__left__profile__logo {
    width: 35%;
  }
  .container__left__profile__title p {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 10px;
    color: #333333;
  }
  .container__left__search {
    height: 70%;
    width: 60%;
    display: flex;
  }
  .container__left__search input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    border: none;
    outline: none;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
    border-radius: 12px;
  }
  .container__left__search input {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #bdbdbd;
  }
  .container__right {
    width: 20%;
    height: 70%;
  }
  .container__right {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
  }
}
@media screen and (max-width: 375px) {
  .container {
    height: 15vh;
    flex-direction: column;
    align-items: flex-end;
  }
  .container__left {
    height: 100%;
    order: 2;
    position: relative;
    width: 100%;
  }
  .container__right {
    width: 25%;
    height: 70%;
  }
  .container__left__search {
    width: 100%;
  }
  .container__left__profile {
    position: absolute;
    top: -47px;
  }
}
